<%= form_with(model: blog_post, data: { turbo_frame: "_top", controller: "flatpickr" }, html: { class: "space-y-4 md:space-y-6" }) do |form| %>
  <% if form.object.errors.any? %>
    <div>
      <% form.object.errors.full_messages.each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>
  <div>
    <%= form.label :title, class: "form-input-label" %>
    <%= form.text_field :title, class: "form-input" %>
  </div>
  <div>
    <%= form.label :cover_image, class: "form-input-label" %>
    <% if blog_post.cover_image.present? %>
      <div id="<%= dom_id(blog_post, :cover_image) %>">
        <%= image_tag blog_post.cover_image, class: "w-1/3" %>
        <%= link_to "Remove cover image", blog_post_cover_image_path(blog_post), data: { turbo_method: :delete, turbo_confirm: "Are you sure ?" } %>
      </div>
    <% end %>
    <%= form.file_field :cover_image, "type" => "file", class: "block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none" %>
  </div>
  <div>
    <%= form.label :content, class: "form-input-label" %>
    <%= form.rich_text_area :content, class: "form-input", placeholder:"Share your ideas..." %>
  </div>
  <div>
    <%= form.label :published_at, class: "form-input-label" %>
    <%= form.datetime_field :published_at, include_blank: true, class: "form-input published_date", placeholder: "mm/dd/yy" %>
  </div>
  <div class="flex items-center">
    <%= form.submit "Create Blog Post", class: "btn btn-lg btn-primary" %>
    <%= link_to 'Cancel', "#", data: { controller: "modals", action: "modals#close",}, class: "btn btn-lg btn-outline ms-4" %>
  </div>
<% end %>