<section class="max-w-screen-md mx-auto my-6">
  <div class="mx-6 space-y-2">
    <% if @blog_post.cover_image.present? %>
      <%= image_tag @blog_post.cover_image, class: "rounded border-current" %>
    <% else %>
      <div class="flex items-center justify-center w-full h-48 bg-gray-300 rounded">
        <svg class="w-10 h-10 text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
          <path d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z"/>
        </svg>
      </div>
    <% end %>
    <% if @blog_post.draft? %>
      <span class="inline-block bg-indigo-100 text-indigo-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded">Draft</span>
    <% elsif @blog_post.scheduled? %>
      <span class="inline-block bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded">Schedule</span>
    <% end %>
    <h1 class="font-bold"><%= @blog_post.title %></h1>
    <h3 class="truncate-overflow line-clamp-3"><%= @blog_post.content %></h2>
    <div class="flex justify-between">
      <div class="flex">
        <%= link_to "Edit", edit_blog_post_path(@blog_post), class: "btn btn-lg btn-primary me-4", data: { turbo_frame: "modal" } if user_signed_in? %>
        <%= link_to "Back", root_path, class: "btn btn-lg btn-outline" if user_signed_in? %>
      </div>
      <%= link_to "Delete", blog_post_path(@blog_post), class: "btn btn-lg btn-destroy", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
    </div>
  </div>
</section>